body {
  background-color: white;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  margin: 0;
  padding-top: 70px;
}

h1, h2 {
  color: darkcyan;
}

p {
  font-size: 16px;
  color: darkviolet;
}

.highlight {
  background-color: lightsalmon;
  padding: 10px;
  text-align: center;
}

#special-heading {
  color: darkred;
  text-transform: uppercase;
}

.section-box {
  background-color: white;
  text-align: left;
}

.box-model-demo {
  width: 300px;
  padding: 20px;
  border: 2px solid black;
  margin: 15px;
  box-sizing: border-box;
  background-color: lightgray;
}

span.keyword {
  color: darkblue;
  font-weight: bold;
}

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: black;
  padding: 15px;
  text-align: center;
  z-index: 1000;
}

.navbar a {
  color: white;
  margin: 0 15px;
  text-decoration: none;
}

.main-content {
  position: relative;
  padding: 20px;
}

.important-box {
  position: absolute;
  top: 20px;
  right: 20px;
  background-color: yellow;
  padding: 8px;
  border: 1px solid black;
}

.sticky-heading {
  position: sticky;
  top: 80px;
  background-color: lightcyan;
  padding: 10px;
}

.extrapara{
  background-color: lightgreen;
}
